# 99-container-commands.config
container_commands:
  01_setup_application:
    command: "echo 'Setting up application...'"
    leader_only: true

  02_database_migration:
    command: "java -cp target/product_demo-0.0.1-SNAPSHOT.jar org.springframework.boot.loader.JarLauncher --spring.profiles.active=prod org.example.product_demo.config.DatabaseMigrationRunner"
    leader_only: true
    ignoreErrors: true